<div class="wrapper" >

        <div class="container p-3 mt-3" >
            <div class="row no-gutters  align-items-center justify-content-center" data-scrollax-parent="true">
                <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }" style="filter: grayscale(100%) opacity(200%)" >
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a routerLink="/home">Home</a></span> / <span class="breadcrumbs" >contactus</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Contact Us</h1>
                </div>
            </div>
        </div>

        <section class="pt-3 contact-section ftco-degree-bg">
            <div class="container">

              <div class="row ">
                <div class="col-md-6 contact-info">

                  <div class="col-md-12">
                    <h5>Address:</h5>
                      22809 Queensbridge Dr <br>
                      Ashburn, VA 20148  <br>
                      United States
                  </div>
                  <div class="col-md-12">
                    <span>Phone:</span> <a target="_blank" href="tel://6077687705"> +1 (607) 768-7705</a>
                  </div>
                  <div class="col-md-12">
                    <span>Email:</span> <a target="_blank" href="mailto:ec@novaba.org">ec@novaba.org</a>
                  </div>
                  <div class="col-md-12">
                    <p><span>Website:</span> <a routerLink="/home">https://www.novaba.org</a></p>
                  </div>
                </div>

                <div class="col-md-6 mb-3" id="map">
                     <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6202.578328451771!2d-77.52293312380765!3d38.985896371705344!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89b63f83dd824299%3A0xf028e7e725d3850!2s22809%20Queensbridge%20Dr%2C%20Ashburn%2C%20VA%2020148!5e0!3m2!1sen!2sus!4v1765556966821!5m2!1sen!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
              </div>
            </div>
          </section>

</div>
<app-sponsers></app-sponsers>
