<div class="wrapper"  >
    <div style="z-index: 2000; position: absolute; top: 80px; left: 20px; cursor: pointer;"  >
      <i id="play-pause-button" class="icon" [ngClass]="playAudio?'icon-volume-up':'icon-volume-off' "  (click)="soundplay()" ></i>
    </div>

    <div style="width: 100vw; height: 60vh; " >
      <div style="width: 100%; height: 100%; "  class="cb-slideshow-overlay" >
          <ul class="cb-slideshow-2024">
              <li><span></span><div><h3></h3></div></li>
              <li><span></span><div><h3></h3></div></li>
              <li><span></span><div><h3></h3></div></li>
              <li><span></span><div><h3></h3></div></li>
              <li><span></span><div><h3></h3></div></li>
              <li><span></span><div><h3></h3></div></li>
          </ul>
      </div>
    </div>  

    <h2 class="mb-4 text-center">NVBA Sarbojanin Durgotsob 2025</h2>

    <section class="ftco-section">
    	<div class="container">
        <div class="row d-flex mb-3"> 
            <div class="col-md-6 flex ftco-animate">
              <h5 class="text-center">Venue:  </h5>
                <div class="text-center" >
                  <p>
                    <a href="https://maps.app.goo.gl/fJu9CiUzBq7ezhHd7" target="_blank" >
                      John Champe High School, <br />41535 Sacred Mountain St, <br /> Aldie, VA 20105<br />
                    </a> 
                    <br /> 
                  Timings: <br /> 
                  October 3rd - 6 PM to 10 PM. <br>
                  October 4th - 10 AM to 10 PM.<br>
                  October 5th - 10 AM to 10 PM.
                  </p>
                </div>
            </div>
            <div class="col-md-6 flex ftco-animate ">    
              <div class="flex-center text-center ">
                <h5 class="text-center">NVBA 2025 Sarbojanin Durgotsob ticket sale and Concert only ticket sale have been closed, we have reached occupancy limit at the venue. We appreciate your enthusiasm and support!
                  <br>
                  <br>
                </h5>
                  <!-- <h5 class="text-center" >Limited Concert ticket sale open now. Scroll below to book your ticket now ! </h5> -->
                  <!-- <table class="ticketTable" style="margin-top: 20px;" >
                    <thead class="redHeader">
                    <tr>
                      <td rowspan="2" >Number of Days</td><td colspan="3" class="highlight" >Early Bird Special</td>
                    </tr>
                    <tr>
                      <td>Adult > 18yrs</td>
                      <td> Visiting Parents | Young Adults [ 11 to 18 years ] | Student with ID</td>
                      <td>Kids [ 0 to 10 years ]</td>
                    </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td class="redSideHeader" > 3 Days</td><td>$105</td><td>$60</td><td>Free</td>
                      </tr>
                      <tr>
                        <td class="redSideHeader"> Single Day</td><td>$90</td><td>$40</td><td>Free</td>
                      </tr>
                    </tbody>
                  </table>
                <app-durgapujatickets2025></app-durgapujatickets2025> -->
                <!-- <app-concert></app-concert> -->
              </div>
                <div class="flex-center">
                  <!-- <a class="btn-get-started btn-get-started-dark text-center w-100 " href="https://mcusercontent.com/71b8b228056801a92f04f6000/files/b6c2382a-4abe-abe2-8bc6-ddc586bd50c9/2024_DP_schedule_1_.pdf" target="_blank" style="background-color: #ff8d00;"  >Timings of Durgotsob 2025</a> -->
                   <a class="btn-get-started btn-get-started-dark text-center w-100 "  target="_blank" style="background-color: #ff8d00;"  >Timings of Durgotsob 2025</a>
                </div>

                <!-- facebook concert -->
                <div class="flex-center">
                  <a class="btn-get-started btn-get-started-dark text-center w-100 " routerLink="/sponsorship" >Be our proud sponsor - Durgotsob 2025</a>
                </div>
            </div>
        </div>

        <!-- Ticket link-->
        <!-- <div class="row d-flex mb-3">
          <div class="flex-center">
            <app-cartmember></app-cartmember>
          </div>
        </div>   -->

        <div class="row d-flex mb-3"> 
          <div class="flex-center text-center mt-3 ">
            <h3 class="text-center">NVBA Durgotsob 2025 - Lots of activities planned</h3>
          </div>
          <!-- <div class="flex-center mb-1">
            <button class="btn-get-started w-100 mb-3 mt-2" routerLink="/tickets" >Tickets for Durga Puja</button>             
          </div> -->
          <div class="flex-center text-center mt-3 table ">
            <div>Sign up sheets for,</div>
            <div class="row flex-center text-center m-1 "  >
              <table class=" borderless col-md-6 " style=" margin:0 auto" id="activities"  >
                <tr>
                  <td>
                    Art Competition:
                  </td>
                  <td>
                     <a href="https://forms.gle/z85Ahvi7D5TaZwmXA" target="_blank" >Click to register</a> 
                  </td>
                </tr>
                <tr>
                  <td>
                    Alpona Competition:
                  </td>
                  <td>
                    <a href="https://forms.gle/jQfneftVfqJLKahk8" target="_blank" >Click to register</a> 
                  </td>
                </tr>
                <tr>
                  <td>
                    Uludhoni Competition:
                  </td>
                  <td>
                    <a href="https://forms.gle/FS4fDrWWX6z5gaEd8" target="_blank" >Click to register</a> 
                  </td>
                </tr>
                <tr>
                  <td>
                    Dhunochi Dance Competition: 
                  </td>
                  <td>
                   <a href="https://forms.gle/4WWJFWbYMDGz6a7Y9" target="_blank">Click to register</a> 
                  </td>
                </tr>
                <tr>
                  <td>
                    Carrom Competition: 
                  </td>
                  <td>
                    <a href="https://forms.gle/DgBPobKXsfxhsRds5" target="_blank" >Click to register</a> 
                  </td>
                </tr>
                <tr style="background-color: rgb(251, 244, 235);">
                  <td>
                    Kumari Puja Participation: 
                  </td>
                  <td>
                    <a href="https://forms.gle/X83H9DXSr7KgeMXA7" target="_blank" >Click to participate</a> 
                  </td>
                </tr>
              </table>
            </div>
          </div>
        </div>

        <div class="row d-flex mb-3"> 
          <div class="flex-center text-center mt-3 ">
            <h5 class="text-center">NVBA Durgotsob 2025 - Artists</h5>
            <p class="text-center">
              We are extremely thrilled to announce our international artists who will be illuminating the stage this Durgotsob. <br />
              We bring to you some of the biggest and most happening artists among today’s Bengali music lovers.
            </p>
          
            <div class="flex-center text-center">
              <img width="480" height="200" src="./../../../assets/images/gallery/dp2025/DP2025-Saturday-Artist.png" class=" img-fluid ">
              <img width="480" height="200" src="./../../../assets/images/gallery/dp2025/DP2025-Sunday-Artist.png" class=" img-fluid "><br/><br/>
          </div>  
            <!-- <h5 class="red blinking-text" >Local cultural and International artist details coming soon !!! </h5> -->
          </div>
        </div>   

       <div class="col-md-12 row flex-row  mb-4" >
        
        <!-- <div class="col-md-4 pl-md-5 mb-3 ">
          <div class="mb-3"> <b>Somlata & The Aces:</b> Friday</div>
          <iframe style=" height:475px; width: 100%; margin: auto; "  src="https://www.youtube.com/embed/lBPkMHaMAP8?t=20&autoplay=true&origin=https://www.youtube.com/shorts/lBPkMHaMAP8" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autoplay ></iframe>
        </div> 
      
        <div class="col-md-4 pl-md-5 mb-3">
          <div class="mb-3"> <b>Melodious Madhushree:</b> Saturday</div>
          <iframe style=" height:475px; width: 100%; margin: auto; "  src="https://www.youtube.com/embed/lsYl6VXEf_U?t=20&autoplay=true&origin=https://www.youtube.com/shorts/lsYl6VXEf_U" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autoplay ></iframe>
        </div>  

        <div class="col-md-4 pl-md-5 mb-3">
          <div class="mb-3"> <b>Arnab Chakraborty:</b> Sunday</div>
          <iframe style=" height:475px; width: 100%; margin: auto; "  src="https://www.youtube.com/embed/5CpCrGLhMeQ?t=20&autoplay=true&origin=https://www.youtube.com/shorts/5CpCrGLhMeQ" title="YouTube video player" frameborder="0" allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen autoplay ></iframe>
        </div>  -->
       </div>
    	</div>
    </section>

    <section class="ftco-section">
      <div class="flex-center text-center ">
        <h5 class="red blinking-text" >Highlights of Food Menu</h5>
      </div>   
      <div class="col-md-12 row flex-row  mb-4" >

        <div class="flex-center text-center">
            <img src="./../../../assets/images/gallery/dp2025/food/Food Menu.jpg" class=" img-fluid "><br/><br/>
        </div>  
         
        <div class="col-md-4 pl-md-5 mb-3">
            <img width="420" height="180" src="./../../../assets/images/gallery/dp2025/Friday_Dinner.jpg" class=" img-fluid "  >
        </div>

        <div class="col-md-4 pl-md-5 mb-3">
            <img width="420" height="180" src="./../../../assets/images/gallery/dp2025/Saturday Adult Lunch.jpg" class=" img-fluid "  >
        </div>

        <div class="col-md-4 pl-md-5 mb-3">
            <img width="420" height="180" src="./../../../assets/images/gallery/dp2025/Saturday Kids Lunch.jpg" class=" img-fluid "  >
        </div>

        <div class="col-md-4 pl-md-5 mb-3">
            <img width="420" height="180" src="./../../../assets/images/gallery/dp2025/Saturday Adult Dinner.jpg" class=" img-fluid "  >
        </div>

        <div class="col-md-4 pl-md-5 mb-3">
            <img width="420" height="180" src="./../../../assets/images/gallery/dp2025/Saturday Kids Dinner.jpg" class=" img-fluid "  >
        </div>

        <div class="col-md-4 pl-md-5 mb-3">
            <img width="420" height="180" src="./../../../assets/images/gallery/dp2025/Sunday Adult Lunch.jpg" class=" img-fluid "  >
        </div>

        <div class="col-md-4 pl-md-5 mb-3">
            <img width="420" height="180" src="./../../../assets/images/gallery/dp2025/Sunday Kids Lunch.jpg" class=" img-fluid "  >
        </div>

        <div class="col-md-4 pl-md-5 mb-3">
            <img width="420" height="180" src="./../../../assets/images/gallery/dp2025/Sunday Dinner.jpg" class=" img-fluid "  >
        </div>
      </div>

    </section>
</div>
<app-sponsers></app-sponsers>
