<div class="wrapper" >
        
    <div class="container p-3 pt-5" >
        <div class="row no-gutters  align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }" style="filter: grayscale(100%) opacity(200%)" >
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span> / <span>admin/alldetails</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Admin Reports - All Details</h1>
            </div>
        </div>
    </div>

    <div class="container" >

        <h3 class="text-center mt-3 mb-2 " >Durga Pujo-2024 Food Sell Summary</h3>

        <div>
            <!-- Kobi Pronam 2024 Food Summary Report -->
            <!-- <table class="table table-bordered " >
                <tr>
                      <th>Total Annual Membership - 2024</th>
                      <th>{{MM2024YY}}</th>
                </tr>  
                <tr>
                  <th></th>
                  <th class="d-flex justify-content-around " >Saturday, 22nd June, 2024</th>
                </tr>
                <tr>
                    <th class="d-flex justify-content-around ">Snacks</th>
                    <th align="d-flex justify-content-center">Count/Price Details</th>
                </tr>
                <tr>
                  <th>Veg Chop($3/2 pcs)</th>
                  <td>
                      <div class="d-flex justify-content-around ">
                          <div class="green" >{{KP2024VEGCHOP*2}}</div>
                          <div class="green" >${{KP2024VEGCHOP*3}}</div>
                     </div> 
                  </td>
                </tr>
                <tr>
                  <th>Veg Ghugni($2/bowl)</th>
                  <td>
                      <div class="d-flex justify-content-around ">
                          <div class="green">{{KP2024GHUGNI}}</div>
                          <div class="green" >${{KP2024GHUGNI*2}}</div>
                      </div>
                  </td>
                </tr>
                <tr>
                  <th>Tea($1)</th>
                  <td>
                      <div class="d-flex justify-content-around ">
                          <div class="green" >{{KP2024TEA}}</div>
                          <div class="green" >${{KP2024TEA*1}}</div>
                      </div>
                  </td>
                </tr>
                <tr>
                    <th>Cold Drinks($1)</th>
                    <td>
                        <div class="d-flex justify-content-around ">
                            <div class="green" >{{KP2024COLDDRINKS}}</div>
                            <div class="green" >${{KP2024COLDDRINKS*1}}</div>
                        </div>
                    </td>
                  </tr>
                  <tr>
                    <th class="d-flex justify-content-around ">Dinner</th>
                    <th>Count/Price Details</th>
                </tr>
                <tr>
                    <th>Veg Biriyani with Sweet and Raita($8)</th>
                    <td>
                        <div class="d-flex justify-content-around ">
                            <div class="green" >{{KP2024VEG}}</div>
                            <div class="green" >${{KP2024VEG*8}}</div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Non-Veg Biriyani with Sweet and Raita($10)</th>
                    <td>
                        <div class="d-flex justify-content-around ">
                            <div class="green" >{{KP2024NONVEG}}</div>
                            <div class="green" >${{KP2024NONVEG*10}}</div>
                        </div>
                    </td>
                </tr>
                <tr class=" bg-light " >
                    <th>Total Food Sell</th>
                      <th>
                        <div class="d-flex justify-content-around ">
                            <div  >${{KP2024VEGCHOP*3+KP2024GHUGNI*2+KP2024TEA*1+KP2024COLDDRINKS*1+KP2024VEG*8+KP2024NONVEG*10}}</div>
                        </div>
                      </th>
                </tr>
            </table> -->

            <!-- Saraswati Puja 2024 Food Summary Report -->
            <!-- <table class="table table-bordered " >
                <tr>
                      <th>Total Annual Membership - 2024</th>
                      <th>{{MM2024YY}}</th>
                </tr>  
                <tr>
                  <th></th>
                  <th class="d-flex justify-content-around " >Saturday, 10th F, 2024</th>
                </tr>
                <tr>
                  <th>Adult</th>
                  <td>
                      <div class="d-flex justify-content-around ">
                          <div class="red" >{{SP2024AEBNON}}</div>
                          <div class="green">{{SP2024AEBVEG}}</div>
                     </div> 
                  </td>
                </tr>
                <tr>
                  <th>Kids [ 11 to 18 years ] / Visiting Parents / Students for Non-Veg</th>
                  <td>
                      <div class="d-flex justify-content-around ">
                          <div class="red" >{{SP2024STUDENTEBNON}}</div>
                          <div class="green">{{SP2024STUDENTEBVEG}}</div>
                      </div>
                  </td>
                  
                </tr>
                <tr>
                  <th>Kids age group [ 0 - 10 years ] are free </th>
                  <td>
                      <div class="d-flex justify-content-around ">
                          <div >{{SP2024KIDS}}</div>
                      </div>
                  </td>
                </tr>
                <tr class=" bg-light " >
                  <th>Total ( without kids count)</th>
                    <th>
                      <div class="d-flex justify-content-around ">
                          <div class="red" >{{SP2024AEBNON + SP2024STUDENTEBNON }}</div>
                          <div class="green">{{SP2024AEBVEG + SP2024STUDENTEBVEG }}</div>
                      </div>
                    </th>
                </tr>
                <tr class=" bg-light " >
                    <th>Total Head Count</th>
                      <th>
                        <div class="d-flex justify-content-around ">
                            <div  >{{SP2024AEBNON + SP2024STUDENTEBNON + SP2024AEBVEG + SP2024STUDENTEBVEG + SP2024KIDS}}</div>
                        </div>
                      </th>
                </tr>
              </table> -->

            <!-- Durga Puja 2024 Food Summary Report -->
            <table class="table table-bordered " >
              <tr>
                    <th>Total Annual Membership </th>
                    <th>{{MM2024YY}}</th>
                    <th></th>
                    <th></th>
                    <th></th>
              </tr>  
              <tr>
                <th></th>
                <th>All 3 Days</th>
                <th>Friday</th>
                <th>Saturday</th>
                <th>Sunday</th>
              </tr>
              <tr>
                <th>Adult</th>
                <td>
                    <div class="d-flex justify-content-around ">
                        <div class="red" >{{DP2024EBALL01NON}}</div>
                        <div class="green">{{DP2024EBALL02VEG}}</div>
                   </div> 
                </td>
                <td>
                    <div class="d-flex justify-content-around ">
                        <div class="red" >{{DP2024EBFRI01NON}}</div>
                        <div class="green">{{DP2024EBFRI02VEG}}</div>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-around ">
                        <div class="red" >{{DP2024EBSAT01NON}}</div>
                        <div class="green">{{DP2024EBSAT02VEG}}</div>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-around ">
                        <div class="red" >{{DP2024EBSUN01NON}}</div>
                        <div class="green">{{DP2024EBSUN02VEG}}</div>
                    </div>
                </td>
              </tr>
              <tr>
                <th>Kids [ 11 to 18 years ],Students and Visiting Parents</th>
                <td>
                    <div class="d-flex justify-content-around ">
                        <div class="red" >{{DP2024EBALL03NON}}</div>
                        <div class="green">{{DP2024EBALL04VEG}}</div>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-around ">
                        <div class="red" >{{DP2024EBFRI03NON}}</div>
                        <div class="green">{{DP2024EBFRI04VEG}}</div>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-around ">
                        <div class="red" >{{DP2024EBSAT03NON}}</div>
                        <div class="green">{{DP2024EBSAT04VEG}}</div>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-around ">
                        <div class="red" >{{DP2024EBSUN03NON}}</div>
                        <div class="green">{{DP2024EBSUN04VEG}}</div>
                    </div>
                </td>
              </tr>
              <tr>
                <th>Kids [ 0 to 10 years ]</th>
                <td>
                    <div class="d-flex justify-content-around ">
                        <div class="red" >{{DP2024EBALL05KID}}</div>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-around ">
                        <div class="red" >{{DP2024EBFRI05KID}}</div>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-around ">
                        <div class="red" >{{DP2024EBSAT05KID}}</div>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-around ">
                        <div class="red" >{{DP2024EBSUN05KID}}</div>
                    </div>
                </td>
              </tr>
              <!-- <tr>
                <th>Students and Visiting Parents</th>
                <td>
                    <div class="d-flex justify-content-around ">
                        <div class="red" >{{DP2024EBALL06NON}}</div>
                        <div class="green">{{DP2024EBALL07VEG}}</div>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-around ">
                        <div class="red" >{{DP2024EBFRI06NON}}</div>
                        <div class="green">{{DP2024EBFRI07VEG}}</div>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-around ">
                        <div class="red" >{{DP2024EBSAT06NON}}</div>
                        <div class="green">{{DP2024EBSAT07VEG}}</div>
                    </div>
                </td>
                <td>
                    <div class="d-flex justify-content-around ">
                        <div class="red" >{{DP2024EBSUN06NON}}</div>
                        <div class="green">{{DP2024EBSUN07VEG}}</div>
                    </div>
                </td>
              </tr> -->
              <tr class=" bg-light " >
                <th>Total</th>
                  <th>
                    <div class="d-flex justify-content-around ">
                        <div class="red" >{{DP2024EBALL01NON + DP2024EBALL03NON + DP2024EBALL05KID }}</div>
                        <div class="green">{{DP2024EBALL02VEG + DP2024EBALL04VEG}}</div>
                    </div>
                  </th>
                  <th>
                    <div class="d-flex justify-content-around ">
                        <div class="red" >{{DP2024EBFRI01NON + DP2024EBFRI03NON + DP2024EBFRI05KID }}</div>
                        <div class="green">{{DP2024EBFRI02VEG + DP2024EBFRI04VEG}}</div>
                    </div>
                  </th>
                  <th>
                    <div class="d-flex justify-content-around ">
                        <div class="red" >{{DP2024EBSAT01NON + DP2024EBSAT03NON + DP2024EBSAT05KID }}</div>
                        <div class="green">{{DP2024EBSAT02VEG + DP2024EBSAT04VEG }}</div>
                    </div>
                  </th>
                  <th>
                    <div class="d-flex justify-content-around ">
                        <div class="red" >{{DP2024EBSUN01NON + DP2024EBSUN03NON + DP2024EBSUN05KID }}</div>
                        <div class="green">{{DP2024EBSUN02VEG + DP2024EBSUN04VEG }}</div>
                    </div>
                  </th>
              </tr>
              <!-- <tr style="background-color: antiquewhite;" >
                <th>
                    Concert Tickets
                </th>
                <th></th>
                <th>{{DP2024CTFRIDAY}}</th>
                <th>{{DP2024CTSATURDAY}}</th>
                <th>{{DP2024CTSUNDAY}}</th>
              </tr> -->
            </table>

        </div>
    </div>
    
    <div class=" container mt-5 mb-3 " >

        <h3 class="text-center " >Durga Puja-2024 Food Purchase Transactions</h3>
        
        <div class=" mb-3  table-bordered" >
            <ag-grid-angular
                style="height:500px; "
                class="ag-theme-alpine table-light table-responsive agGridTable"
                #agGrid
                
                id="myGrid"
                class="ag-theme-alpine"
                (gridReady)="onGridReady($event)"
                [rowData]="dp2024TicketList"
                [columnDefs]="dp2024columnDefsTickets"
                [animateRows]="true"
                 >
            </ag-grid-angular>
        </div>
        <!-- <div class=" d-flex justify-content-end mb-5 " >
            <button (click)="onBtnExport()" class=" btn-get-started " > Export CSV File </button>
        </div> -->
    </div>

    <div class=" container mt-5 mb-3 " >

        <h3 class="text-center " >Membership Details of 2024</h3>
        
        <div class=" mb-3  table-bordered" >
            <ag-grid-angular
                style="height:500px; "
                class="ag-theme-alpine table-light table-responsive agGridTable"
                #agGrid
                
                id="myGrid"
                class="ag-theme-alpine"
                (gridReady)="onGridReady($event)"
                [rowData]="membershipList"
                [columnDefs]="membershipcolumnDefs"
                [animateRows]="true"
                 >
            </ag-grid-angular>
        </div>
        <div class=" d-flex justify-content-end mb-5 " >
            <button (click)="onBtnExport()" class=" btn-get-started " > Export CSV File </button>
        </div>

    </div>

</div>
