<div class="wrapper" >
    
    <div class="hero-wrap" style="background-image: url('./../../../../assets/images/gallery/picnic2024/picnic_2024_group_photo.jpg'); filter:  opacity(50%) " data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }" style="filter: grayscale(100%) opacity(200%)" >
                <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span>/ &nbsp;<span style="text-transform: lowercase;" >Picnic</span></p>
                <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Our Annual Picnic</h1>
            </div>
        </div>
        </div>
    </div>

    <section class="ftco-section">
      <div class="container">
          <div class="row col-md-12 flex-center text-center">
              <div class="flex-center text-center mt-3 ">
                <h3 class="text-center">NVBA Annual Picnic 2024</h3>
              </div>
              <div class="col-md-8  " style="margin: 0 auto;" >
                <p class="col-md-12 flex-center">
                    Our annual picnic, where all our members were invite to a free picnic event for a great day of food, fun and friendship. !! <br/>
                </p>
                <!-- <p>
                    <b>Due to an overwhelming response and limited space in the picnic shelter, we have closed the RSVP form. Each State Park has rules and regulations we must follow to avoid any fines or disruptions during the event. Therefore, we cannot accommodate any drop-in participation without an RSVP. We apologize for any inconvenience this may cause and regret not being able to accommodate more people. Next year, we plan to rent a larger facility to include more attendees. We appreciate your understanding.</b>
                </p> -->
              </div>
              
          </div>
      </div>
    </section>      
    
    <!-- <section class="ftco-section bg-light "> -->
          <div class="row col-md-12 flex-center text-center">
              <div class="flex-center text-center mt-3 ">
                <h3 class="text-center">Details</h3>
              </div>
              <div class="col-md-8  " style="margin: 0 auto;" >
                <p><a href="https://www.google.com/maps/dir/38.8759552,-77.2243456/Shelter+8+at+Bull+Run,+7700+Bull+Run+Dr,+Centreville,+VA+20121/">
                    Shelter 8 at Bull Run<br />
                    7700 Bull Run Dr, <br /> Centreville, VA 20121</a><br /><br /> 
                Timings: <br /> 
                    June 29th -  10 am to 6 pm. <br>
                </p>
              </div>
          </div>
    <!-- </section>  -->

    <section class="ftco-section bg-light ">
        <div class="container mb-5">
            <div class="col-md-12 flex ftco-animate">
                <div class="flex-center text-center mt-3 ">
                    <h3 class="text-center">Picnic Photos and Videos</h3>
                </div>
                <p class="flex-center text-center" >
                    <b><a href="https://drive.google.com/drive/folders/14XjS1DUW2rI407o1DM2P7PwogVdieiW0">See all the picnic fun with everyone using the link</a></b><br/>
                    <b><a href="https://www.youtube.com/watch?v=uTwgs0wfPQs">Picnic video captured by our volunteer using the link</a></b>
                </p>
            </div>    
        </div>
    </section> 

    <div class="container mb-5">
        <div class="row col-md-12 flex-center text-center">
            <div class="col-md-8" style="margin: 0 auto;" >
                <div class="flex-center text-center mt-3 ">
                    <h3 class="text-center">Bhuri Bhoj</h3>
                </div>
                
                <p class="flex-center text-center">
                    <b>Snacks to start the morning (10 AM - 11:30 AM):</b> Muri makha with chanachur,onion, tomato, peanuts, beguni and tea. <br/>
                </p>
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/jhal-muri.jpg " >
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Beguni.jpg " >
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Masoor_Dal_Pakoda.jpg " >
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Tea.jpg " ><br/>

                <p class="flex-center text-center">
                    <b>Grill Time (11:30 AM - 1:30 PM):</b> Corn grill, Chicken Grill, Veg grill. <br/>
                </p>
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Corn_Grill.jpg " >
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Chicken_Grill.jpg " >
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Veg_Grill_Skewer.jpg " >

                <p class="flex-center text-center">
                    <b>Free Drink throughout event:</b> Aam Panna, Water. <br/>
                </p>
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Aam_Panna.jpg " >
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Water_Bottle.jpg " >
                
                <p class="flex-center text-center">
                    <b>Non Veg Lunch(2 PM - 3:30 PM) with mouth watering dishes:</b> White Misti Pulao, Mutton Mezbani, Mansoor Daal, Mango Chutney, Misti Doi. <br/>
                </p>
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/White-Pulao.jpg " >
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Goat_Curry.jpg " >
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Moong_Daal.jpg " >
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Mango_Chutney.jpg " >
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Misti_Doi.jpg " ><br/>

                <p class="flex-center text-center">
                    <b>Veg Lunch(2 PM - 3:30 PM) with mouth watering dishes:</b> White Misti Pulao, Paneer butter masala, Gobi masala, Mansoor Daal, Mango Chutney, Misti Doi. <br/>
                </p>
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/White-Pulao.jpg " >
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Moong_Daal.jpg " >
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Paneer_Butter_Masala.jpg" >
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Gobi_Masala.jpg " >
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Mango_Chutney.jpg " >
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Misti_Doi.jpg " ><br/>

                <p class="flex-center text-center">
                    <b>Closing item with adda (4:00 PM - 5:30 PM):</b> Watermealon and Popcycle for kids. <br/>
                </p>
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Watermealon.jpg " >
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Kids_Popcycle.jpg " ><br/>

                <p class="flex-center text-center" >
                    <b>Food to Buy throughout event:</b> Regular Phuchka(4 Pcs plate $2), Dahi Phuchka(4 Pcs plate $3), Sweet Paan($1), Cold Drinks($1). <br/>
                </p>
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Phuchka.jpg " >
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Dahi_Phuchka.jpg " >
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Paan.jpg " >
                <img class="text-center" width="120" height="120" src="./../../../../assets/images/gallery/picnic2024/Cold_Drinks.jpg " ><br/>
            </div>    
        </div>
    </div>

    <section class="ftco-section bg-light ">
        <div class="container mb-5">
            <div class="col-md-12 flex ftco-animate">
                <div class="flex-center text-center mt-3 ">
                    <h3 class="text-center">T20 WOrld Cup Cricket Final Live 10:30 AM -2:00 PM</h3>
                </div>
                <p class="flex-center text-center" >
                    <b>NVBA will do live streaming of T20 World Cup Cricket in the shelter with 55 inch TV.</b>
                </p>
                <img class="text-center" width="300" height="300" src="./../../../../assets/images/gallery/picnic2024/Hisense_TV.jpg " >
                <img class="text-center" width="300" height="300" src="./../../../../assets/images/gallery/picnic2024/ICC_T20_WC_1.jpg " >
                <img class="text-center" width="300" height="300" src="./../../../../assets/images/gallery/picnic2024/ICC_T20_WC_2.jpg " >
                <img class="text-center" width="300" height="300" src="./../../../../assets/images/gallery/picnic2024/ICC_T20_WC_3.jpg " ><br/>
            </div>    
        </div>
    </section> 

    <section class="ftco-section bg-light ">
        <div class="container mb-5">
            <div class="col-md-8" style="margin: 0 auto;" >
                <div class="flex-center text-center mt-3 ">
                    <h3 class="text-center">Fun Activities 12:00 PM - 2:00 PM (Kids & Adults)</h3>
                </div>
                <p class="flex-center text-center" >
                    <b>Kids Activity:</b> Marble Race, Sack Race, Tug of War and more. <br/>
                </p>
                <img class="text-center" width="200" height="200" src="./../../../../assets/images/gallery/picnic2024/Marble_Spoon_Race.jpg " >
                <img class="text-center" width="200" height="200" src="./../../../../assets/images/gallery/picnic2024/Bingo_Game.png" >
                <img class="text-center" width="200" height="200" src="./../../../../assets/images/gallery/picnic2024/Tug_Of_War.png" ><br/>
                <p class="flex-center text-center" >
                    <b>Adults Activity:</b> Tug of War, Bingo, Badminton, Volleyball. <br/>
                </p>
                <img class="text-center" width="200" height="200" src="./../../../../assets/images/gallery/picnic2024/Bingo_Game.png" >
                <img class="text-center" width="200" height="200" src="./../../../../assets/images/gallery/picnic2024/Volleyball_Game.jpg" >
                <img class="text-center" width="200" height="200" src="./../../../../assets/images/gallery/picnic2024/Badminton_Game.jpg" >
                <img class="text-center" width="200" height="200" src="./../../../../assets/images/gallery/picnic2024/Tug_Of_War.png" ><br/>
            </div>    
        </div>
    </section> 

</div>
