<div *ngIf="!member">
    <div class="alert alert-info">
        <strong>This is a members only event.</strong>
        <br/><br/>
        Please <a routerLink="/sign-in" class="alert-link">RSVP</a> for headcount estimate.
        <br/><br/>
        Not a member yet? <a href="https://www.novaba.org/membership" class="alert-link">Become a member</a>.
    </div>
</div>

<div *ngIf="member && !memberValidity">
    <div class="alert alert-warning">
        <strong>Membership Expired!</strong> Your membership has expired. Please renew your membership to RSVP for the picnic.
        <br/><br/>
        <button class="btn btn-warning btn-sm" (click)="addMembershipToCartobj()">Renew Membership - $30</button>
        <br/><br/>
        Or renew via <a href="https://www.novaba.org/membership" class="alert-link">Membership page</a> or
        <a href="https://www.novaba.org/picnic2026" class="alert-link">Picnic page</a>.
    </div>
</div>

<div *ngIf="member && memberValidity">
    <div>
        <h5 class="green" style="font-weight: bold;">
            Annual Picnic 2026 - Free for Members!<br />
        </h5>
    </div>

    <div id="picnicTickets" class="table-responsive mb-5 tickets">
        <p style="font-weight: bold;">
            &ast; Please RSVP the number of attendees for headcount purposes.<br/>
        </p>

        <accordion [isAnimated]="true" [closeOthers]="false" >
            <accordion-group [isOpen]="true" style="overflow-wrap: break-word;" heading="Picnic 2026 RSVP">
                <button class="btn-small rounded btn-warning float-right mr-2 mb-2" (click)="clearCart()" >Reset</button>
                <table class="table table-bordered table-hover" >
                    <thead>
                        <tr>
                        <th scope="col">Attendee Type</th>
                        <th scope="col">Number Attending</th>
                        </tr>
                    </thead>
                    <tbody *ngFor="let item of dataObject; index as i">
                        <tr>
                            <th>{{item.description}}</th>
                            <td>
                                <input type="number" [(ngModel)]="item.quantity" style="width:50px" min="0" max="20">
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="float-right mb-3 mr-3" >
                    <button [disabled]="addtoCartBtn === false" class="btn btn-warning" (click)="addToCartobj()" >RSVP</button>
                </div>
            </accordion-group>
        </accordion>

        <p class="mt-3">
            You can also register via
            <a href="https://www.novaba.org/membership" target="_blank">Membership page</a> or
            <a href="https://www.novaba.org/picnic2026" target="_blank">Picnic page</a>.
        </p>
    </div>
</div>
