<div class="wrapper" >
    
    <div class="hero-wrap" style="background-image: url('./../../../../assets/images/ecm/2026-27/ArijitAuddy.jpg'); filter: grayscale(20%) opacity(50%) " data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }" style="filter: grayscale(100%) opacity(200%)" >
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span>/ &nbsp;<span style="text-transform: lowercase;" >frompresidentsdesk</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">From President's Desk</h1>
            </div>
        </div>
        </div>
    </div>

    <section class="ftco-section bg-light">
        <div class="container">

            <div class="row d-flex mb-3"> 
                <div class="flex-center text-center mt-3 ">
                  <h3 class="text-center">From President's Desk</h3>
                </div>
                <div class="flex-center left  mt-3 table ">
                    <p>
                        Dear NVBA Member, <br /><br />

                        Hello, my fellow NVBA Patrons, hope you all are doing well and waiting for our grand event Durga Pujo 2025. Now that wait is finally over. We are as excited as you are to bring this annual festival to you. Just like previous years, we’ve put together a three-day Durgotsav, filled with meticulous puja rituals, lots of exciting music and performances and NVBA’s trade-mark volunteer-cooked Bangaliana food, competitions, raffle and mostly fun and adda. The Executive Committee and our army of volunteers have worked night and day to bring this annual bonanza to you, our trusted patron. <br /><br />
                        Throughout the year, NVBA has organized a variety of events and cultural programs, starting with <b>Swaraswati Puja</b> and followed by a series of successful events: <b>Poila Boishakh, Annual Picnic and Kobi Pronam</b>. In all these events you have participated, volunteered in great numbers and with ever-increasing enthusiasm. Many of you have also participated in our charitable activities as members of NVBA Cares to help with food insecurity in our neighborhoods, and helping with various projects run in India with the assistance of Cares. We are very thankful for all your support. Now it is time for our grand event, 2025 Durga Puja. <br /><br />
                        This year we have introduced musical concert only show in NVBA history with <b>Papon and Band</b> during June 27th. People from all over DMV area and other neigboring state(s) has joined us to enjoy the electrifying concert with food and shopping. We are planning to bring one more clasical and electrifying musical concert show after the Durga Puja this year to celebrate the Diwali together. Look for email wth more details about the concert and ticket details. <br /><br />
                        The cultural highlight of this year’s Durga Puja is performances by local group talents from the community with a <b>Grand opening show, followed by dance drama(s) and drama(s)</b>. We would encourage patrons to enjoy and encourage our local participant on Friday after the dinner. The program will start around 8:30 PM on Friday at the auditorium.<br /><br />
                        The musical highlight of this year’s Durga Puja is performances by our guest-artists from India. We’re excited to introduce our guest-artists for this year. On Saturday evening, we’ll have nostalgic <b>Anupam Roy and Band</b>, is an Indian Bengali singer-songwriter, music director, composer, writer, guitarist, playback singer, engineer from Kolkata.He made his debut with <b>Amake Amar Moto Thakte Dao & Benche Thakar Gaan</b>, which appeared on the soundtrack of the 2010 Bengali film Autograph. Since then, he has gone on to compose, write lyrics and sing for many Bengali films. 
                        On Sunday, <b>Ujjaini Mukherjee and Dipayan Banerjee</b>, with their popular song '"Mannu Bhaiyya Ka Karihen' from the film 'Tanu Weds Manu', 'Ami Akash khola' from the movie 'Aborto' will take the stage. <br /><br />
                        Apart from the cultural attractions we will have our regular attractions that you have come to love every year…dedicated puja of our deity and sumptuous food made from scratch by our amazing volunteers, multiple competitions for kids, adults.
                        We have new digital ad display as a new addition this year in the event, lots of food vendors and other vendors, our patrons will enjoy shopping with adda. We are also introducing new decorations for the Durga Pujo this year with a Bangali Grammo Feeling. <br /><br />
                        None of the excitement mentioned above is possible without the whole-hearted participation of the entire community. We are thankful for all the support you have provided us in the past years and this year. Also, this huge task of NVBA Durgotsav is not possible without the Executive Committee members, and tens of volunteers who work days and nights prior to and during the puja days to pull this event through. I am personally thankful to each and every one of you and I feel privileged and honored to serve as the president of an amazing organization called NVBA. <br /><br />
                        We will have our Volunteer appreciation lunch like every year after Durga Puja to appreicate our hardworking volunteers. We are planning to have some indoor sports tournament during the winter to give you some excitement from lazy winter weather. We will need volunteer during planning and execution, more information to come over email after Durga Puja.
<br />
<br />
Sumanta Chakraborty <br />
President

                    </p>
                </div>
            </div>        


        </div>
    </section>

</div>
<app-sponsers></app-sponsers>