<div class="wrapper" >
    
    <div class="hero-wrap" style="background-image: url('./../../../../assets/images/stocks/kbp-2022.png'); filter: opacity(50%) " data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '50%' }" style="filter: grayscale(100%) opacity(200%)" >
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span>/ &nbsp;<span style="text-transform: lowercase;" >Kobi Pronam</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Kobi Pronam</h1>
            </div>
        </div>
        </div>
    </div>

    <!-- <section class="ftco-section"> -->
      <div class="container">
          <div class="row col-md-12 flex-center text-center">

              <div class="flex-center text-center mt-3 ">
                <h3 class="text-center">NVBA Kobi Pronam</h3>
              </div>
              <div class="col-md-8  " style="margin: 0 auto;">
                <p>
                  আগামী 1 জুন, শনিবার, কবিগুরু রবীন্দ্রনাথ ঠাকুর ও বিদ্রোহী কবি কাজী নজরুল ইসলামের প্রতি শ্রদ্ধাঞ্জলি নিবেদন করতে  আমরা একত্রিত হব। রবীন্দ্রনাথের সুরময় সঙ্গীত এবং কাজী নজরুলের বিদ্রোহী কবিতার মাধ্যমে, প্রবাদপ্রতিম দুই কবির স্মৃতিচারণা করবো। এতদুপলক্ষে আপনারা সবাই অংশগ্রহণ করে এই অনুষ্ঠানকে সাফল্যমন্ডিত করে তুলুন।
                </p>
                <p>
                  We plan to gather on June 1st, Saturday evening to pay homage to Gurudev Rabindranath Tagore and Rebel Poet Kazi Nazrul Islam. We will celebrate the occasion with songs, dance, poems, drama, and storytelling to remember the legends of Bengali literature and society. We invite you to participate in this program.
                </p>
              </div>
              <div class="col-md-8  " style="margin: 0 auto;" >
                <p><b>
                    Stone Hills Middle School<br />
                    23415 Evergreen Ridge Dr, <br /> Ashburn, VA 20148,<br /><br /> 
                    Timings: <br /> 
                    June 1st -  3:30 PM to 8:30 PM (Gate opens at 3:30 PM). <br/><br /> 
                    Program Schedule <br/>
                    Snacks/Beverage - 3:30 PM to 4:00 PM. <br/>
                    1st Half Show time duration - 4:00 PM to 5:15 PM. <br/>
                    Interval(Snacks/Beverage/Shopping) - 5:15 PM to 6 PM. <br/>
                    2nd Half Show time duration - 6:00 PM to 8:00 PM. <br/>
                    Shopping/Dinner - 8:00 PM to 8:30 PM <br/><br/>

                    ***Surprise trivia gift cards will be distributed during the program. Stay tuned and enjoy our show***
                  </b>
                </p>
              </div>
          </div>
      </div>
    <!-- </section>       -->

    <!-- <div class="container mb-3">
      <div class="row col-md-12 flex-center text-center">

          <div class="flex-center text-center mt-6">
            <h3 class="text-center">Image Galary</h3>
          </div>
          <div class="col-md-8  " style="margin: 0 auto;" >
            <p class="col-md-12 flex-center">
              Sneak Peak at our program !! <br/>
            </p>

            <img class="text-center" width="400" height="300" src="./../../../../assets/images/gallery/kp2024/RoomJhoom_Dance_Academy.jpg" >
          </div>
      </div>
  </div> -->

    <!-- <section class="ftco-section bg-light "> -->
      <div class="container mb-5">
          <div class="row col-md-12 flex-center text-center">

              <div class="flex-center text-center mt-3 ">
                <h3 class="text-center">NVBA Bhuri Bhoj</h3>
              </div>
              <div class="col-md-8  " style="margin: 0 auto;" >
                <p class="col-md-12 flex-center">
                  Keeping up with our tradition of providing the best authentic food, Chicken Biryani and Veg biryani for Dinner !! <br/>
                  <b>Note:</b> This is a free event, snacks & dinner purchase options will be available online until June 1st noon, food purchase at the gate will be available.
                </p>

                <p class="flex-center text-center" >
                    <b>Beverage to buy:</b> Tea (Milk or Black)($1), Coffee($2), Cold Drinks ($1). <br/>
                </p>
                <img class="text-center" width="150" height="130" src="./../../../../assets/images/gallery/kp2025/Tea.jpg " >
                <img class="text-center" width="150" height="130" src="./../../../../assets/images/gallery/kp2025/Cold_Drinks.jpg " >
                <img class="text-center" width="150" height="130" src="./../../../../assets/images/gallery/kp2025/coffee.jpg " >
  
                <p class="flex-center text-center" >
                  <b>Snacks to buy:</b> Jhal Muri(1 for $3/2 for $5), Veg Chop(2 for $4), Egg Devil(1 for $3/2 for $5), Veg Ghugni(1 for $3/2 for $5). <br/>
                </p>
                <img class="text-center" width="150" height="130"  src="./../../../../assets/images/gallery/kp2025/jhal_muri.jpg " >
                <img class="text-center" width="150" height="130" src="./../../../../assets/images/gallery/kp2025/Veg_Chop.jpg " >
                <img class="text-center" width="150" height="130" src="./../../../../assets/images/gallery/kp2025/egg_devil.jpg " >
                <img class="text-center" width="150" height="130" src="./../../../../assets/images/gallery/kp2025/Veg_Ghugni.jpg " >
                <br/><br/>
                
                <p class="flex-center text-center" >
                  <b>Dinner to buy:</b> Chicken Biriyani($12) with Sweet and Raita, Veg Biriyani($10) with Sweet and Raita. <br/>
                </p>
                <img class="text-center" width="150" height="130" src="./../../../../assets/images/gallery/kp2025/chickenbiryani.jpg " >
                <img class="text-center" width="150" height="130" src="./../../../../assets/images/gallery/kp2025/vegbiryani.jpg " >
                <img class="text-center" width="150" height="130" src="./../../../../assets/images/gallery/kp2025/raita.jpg " >
                <img class="text-center" width="150" height="130" src="./../../../../assets/images/gallery/kp2025/kacha_golla_sweet.jpg " ><br/>
              </div>
          </div>
      </div>
    <!-- </section>  -->

      <div class="container">
        <div class="col-md-12 flex ftco-animate">
        <!-- <p class="flex-center text-center" >
            <b>We sincerely apologize for any inconvenience caused, but we wanted to let you know that we have already closed our food order. We appreciate your understanding.
            You can buy your snacks and dinner at the gate with limited availability.</b>
        </p> -->
        <!-- <app-foodtickets>tickets-2025-KobiPronam</app-foodtickets>  -->
        </div>    
      </div>

      <div class="container mb-5">
        <div class="row col-md-12 flex-center text-center">

            <div class="flex-center text-center mt-3 ">
                <h3 class="text-center">Cultural Programs</h3>
            </div>
            <div class="col-md-8  " style="margin: 0 auto;" >
                <p class="col-md-12 flex-center">
                    Sneak Peak at our cutural program !! <br/>
                </p>

                <img class="text-center" width="300" height="300"  src="./../../../../assets/images/gallery/kp2025/KP Cultural Promo 1.jpeg" >
                <img class="text-center" width="300" height="300"  src="./../../../../assets/images/gallery/kp2025/KP Cultural Promo 2.jpeg" >
                <img class="text-center" width="300" height="300"  src="./../../../../assets/images/gallery/kp2025/KP Cultural Promo 3.jpeg" >
                <img class="text-center" width="300" height="300"  src="./../../../../assets/images/gallery/kp2025/KP Cultural Promo 4.jpeg" >
                <img class="text-center" width="300" height="300"  src="./../../../../assets/images/gallery/kp2025/KP Cultural Promo 5.jpeg" >
                <img class="text-center" width="300" height="300"  src="./../../../../assets/images/gallery/kp2025/KP Cultural Promo 6.jpeg" >
                <img class="text-center" width="300" height="300"  src="./../../../../assets/images/gallery/kp2025/KP Cultural Promo 7.jpeg" >
                <img class="text-center" width="300" height="300"  src="./../../../../assets/images/gallery/kp2025/KP Cultural Promo 8.jpeg" >
            </div>
        </div>
    </div>
</div>
<app-sponsers></app-sponsers>
