<div>
    <h5 class="green">
        Saraswati Puja 2026 Earlybird tickets are available now.<br />
        If you are not a member of NVBA, please register with annual membership fees to avail Members rate.<br />
        If you are already a member and your membership expired please renew membership, to avail Members rate.<br /><br />
        You can purcahse event ticket without getting membership with Non-Members rate.
    </h5>
</div>

<div *ngIf="!memberValidity" id="earlyBirdWithoutcul" class="col-md-12 pt-5">
    <div style="font-weight: bold; font-size: 1.1em;color: #848484; text-align: center;" ><b>Annual Membership fees: $30 per family.</b> </div>
    <div  class="redExpired" *ngIf="this.member?.expires"  > Membership Expired : {{ this.member?.expires }}</div>

    <button *ngIf="!this.member?.expires" (click)="addMembershipToCartobj()" class="btn-get-started w-100 mb-3 mt-2" >
            Buy NVBA Annual Membership</button>

    <button *ngIf="this.member?.expires" (click)="addMembershipToCartobj()" class="btn-get-started w-100 mb-3 mt-2" >
        Renew Annual Membership</button>
</div>

<div id="earlyBirdWithoutcul" class="table-responsive mb-5 tickets">
    <p  class="red" style="font-weight: bold;">
        Please note - Membership rates are valid exclusively for members and their family members<br/>
        &ast; Tickets are required for food, local cultural performances and program with external artist for everyone, including kids (0 to 10 years).
    </p> 

    <accordion [isAnimated]="true" [closeOthers]="false" >
        <accordion-group *ngIf="memberValidity" [isOpen]="true" style="overflow-wrap: break-word;" heading="Buy ticket with Members rate"  >
            <button class="btn-small rounded btn-warning float-right mr-2 mb-2" (click)="clearCart()" >Clear Order</button>
            <table class="table table-bordered table-hover" >
                <thead>
                    <tr>
                    <th scope="col">Items</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of dataObject; index as i" >
                    <tr *ngIf="i < 6">
                        <th>{{item.description}}</th>
                        <td>$ {{item.price}}</td>
                        <td><input type="number" [(ngModel)]="item.quantity" style="width:50px" min="0" max="10" ></td>
                        <td  >$ {{item.price * item.quantity}}</td>
                    </tr>
                </tbody>
                
                <thead>
                    <tr>
                    <th scope="col">
                        <input
                            type="checkbox"
                            style="width:50px"
                            (change)="onRowChecked('PriorityPass', $event)"
                        />
                        Priority Pass [Skip the queue during registration, all meals and priority sitting at the auditorium]
                    </th>
                    <th scope="col"></th>
                    <th scope="col" ></th>
                    <th  scope="col"></th> 
                    </tr>
                </thead>

                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col" ><div class="d-flex justify-content-end">Total</div></th>
                    <th  scope="col">$ {{totalCost}}</th> 
                    </tr>
                </thead>
            </table>

            <div class="float-right mb-3 mr-3" >
                <button [disabled]="addtoCartBtn === false" class="btn btn-warning" (click)="addToCartobj()" >Add to Cart</button>
            </div> 
        </accordion-group>

        <accordion-group *ngIf="!memberValidity" [isOpen]="true" style="overflow-wrap: break-word;" heading="Buy ticket with Non-Members rate" >
            <button class="btn-small rounded btn-warning float-right mr-2 mb-2" (click)="clearCart()" >Clear Order</button>
            <table class="table table-bordered table-hover" >
                <thead>
                    <tr>
                    <th scope="col">Items</th>
                    <th scope="col">Cost</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                    </tr>
                </thead>
                <tbody *ngFor="let item of dataObject; index as i" >
                    <tr *ngIf="i < 6">
                        <th>{{item.description}}</th>
                        <td>
                            <span *ngIf="item.sku === 'SP2026EBKIDS'">$ {{item.price}}</span>
                            <span *ngIf="item.sku != 'SP2026EBKIDS'">$ {{item.price+5}}</span>
                        </td>
                        <td><input type="number" [(ngModel)]="item.quantity" style="width:50px" min="0" max="10" ></td>
                        <td>
                            <span *ngIf="item.sku === 'SP2026EBKIDS'">$ {{item.price * item.quantity}}</span>
                            <span *ngIf="item.sku != 'SP2026EBKIDS'">$ {{(item.price+5) * item.quantity}}</span>
                        </td>
                    </tr>
                </tbody>

                <thead>
                    <tr>
                    <th scope="col">
                        <input
                            type="checkbox"
                            style="width:50px"
                            (change)="onRowChecked('PriorityPass', $event)"
                        />
                        Priority Pass [Skip the queue during registration, all meals and priority seating at the auditorium], $5 per ticket
                    </th>
                    <td scope="col">$5</td>
                    <td scope="col" ></td>
                    <td scope="col"></td> 
                    </tr>
                </thead>
                
                <thead>
                    <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col" ><div class="d-flex justify-content-end">Total</div></th>
                    <th  scope="col">$ {{totalCost}}</th> 
                    </tr>
                </thead>
            </table>

            <div class="float-right mb-3 mr-3" >
                <button [disabled]="addtoCartBtn === false" class="btn btn-warning" (click)="addToCartobj()" >Add to Cart</button>
            </div> 
        </accordion-group>
    </accordion>
</div>
