<div class="wrapper" >
    
    <div class="hero-wrap" style="background-image: url('./../../../../assets/images/stocks/saraswati-kumar.jpg'); filter: grayscale(10%) opacity(50%) " data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }" style="filter: grayscale(100%) opacity(200%)" >
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span>/ &nbsp;<span style="text-transform: lowercase;" >Saraswati Puja</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Our Saraswati Puja</h1>
            </div>
        </div>
        </div>   
    </div>

    <section class="ftco-section bg-light ">
      <div class="container mb-5">
          <div class="row col-md-12 flex-center text-center">

              <div class="flex-center text-center mt-3 ">
                <h3 class="text-center">NVBA Bhuri Bhoj</h3>
              </div>
              <h6><p>Keeping up with our tradition of providing the best authentic food, We are also planning to have a scrumptious menu for Lunch and Dinner as well</p></h6>
              <div class="col-md-8  " style="margin: 0 auto;" >
                <img class="col-md-12 text-center"  src="./../../../../assets/images/gallery/sp2026/Food Menu-2026.jpg" >
              </div>
            </div>
          </div>
    </section> 

    <section>
        <div class="container mb-3">
            <div class="row d-flex mb-3"> 
                <div class="flex-center text-center mt-3 ">
                    <div class="col-md-12" style="margin: 0 auto;" >
                        <img class="col-md-12 text-center"  src="./../../../../assets/images/gallery/sp2026/SP-2026-Ticket-Price.jpg" >
                    </div>
                    <br/>
                    <!-- <h3 class="mb-4 orange">Online ticket sell is now closed, we will have limited ticket sell in the registration desk!</h3><br/> -->
                    <app-sptickets2026></app-sptickets2026>
                </div>
                <div class="flex-center text-center mt-3 table ">
                    <h3 class="text-center">NVBA Saraswati Puja 2026 - Lots of activities planned</h3><br/>
                    <h5><div>Sign up sheets for activities</div></h5>
                    <div class="row flex-center text-center m-1 "  >
                        <table class=" borderless col-md-6" style=" margin:0 auto" id="activities"  >
                        <tr>
                            <td>
                            <h6>Haate Khori </h6>
                            </td>
                            <td>
                            <h6>
                                Fill the form <a href="https://forms.gle/5JN7cH5oWAtczxhp6">for registration</a>
                                <p>Parents interested in arranging Hate Khori for their children, kindly complete the form in our website.</p>
                            </h6>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h6>Cultural Prticipation </h6>
                            </td>
                            <td>
                            <!-- <h6>The cultural submission link can be found <a href="https://forms.gle/wFQWbzE73AJQES1x5">for participation</a>, and the line will be closed on Dec 20, 2025 -->
                            <h6>The cultural submission for kids performance is closed on Dec 20, 2025
                            </h6>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h6>Art Competition:</h6>
                            </td>
                            <td>
                            <h6>
                                Fill the form <a href="https://forms.gle/dRVznKtHZ3FmCYnF6">for registration</a>
                                <p>The art competition is set for noon in the school cafeteria. Listen for announcements in the Pujo Hall! Participants must be between 5 and 18 years old (Elementary/Middle/High School Students).</p>
                            </h6>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <h6>Chotoder Abritti Competition:</h6>
                            </td>
                            <td>
                            <h6>
                                Fill the form <a href="https://forms.gle/cFqniBuxRMEQRBYJ7">for registration</a>
                                <p>The abritti competition is set for noon in the school auditorium. Listen for announcements in the Pujo Hall! Participants must be 3-5 years and 6-9 years.</p>
                            </h6>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <h6>Carrom Competetion:</h6>
                            </td>
                            <td>
                            <h6>
                                Fill the form <a href="https://forms.gle/Qht76TYDNz6HAigs8">for registration</a>
                                <p>
                                <!-- Registration for this event has been closed.<br /> -->
                                The Carrom Competition is scheduled for the afternoon (After lunch) in the school cafeteria. The registration is limited to 16 due to time. Stay tuned for announcements in the Pujo Hall! 
                                </p>
                            </h6>
                            </td>
                        </tr>
                        </table>
                    </div>
                </div>
            
                <div class="col-md-8  " style="margin: 0 auto 10px auto; border-bottom: 1px solid #ccc;" >
                <img class="col-md-12 text-center"  src="./../../../../assets/images/stocks/2024/events.jpg" >
                </div>
            <div class="col-md-8  " style="margin: 10px auto;">
                <h3 class="mb-4 orange">Sponsorship options are available for Cultural, Art, Chotoder Abritti, Carrom competition, Raffle </h3>
                    <div class="" >
                        <table class=" borderless col-md-6 " style=" margin:0 auto" id="activities"  >
                            <tr>
                                <td class="">
                                    <h5>Carrom Competition: $150</h5> 
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Art/Chotoder Abritti Competition: $150</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Raffle: $150</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h5>Cultural sponshorship: Please reach out to <a href="mailto:president@novaba.org">president@novaba.org</a>
                                    or call us at (607) 768-7705</h5>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <h6>Vendor Stalls: Please reach out to Mrinal Chakraborty <a href="mailto:public_relations@novaba.org">advancement_secretary@novaba.org</a>  for more information.</h6>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 flex ftco-animate align-items-center ">
                    <h2 class="mb-4 ">Venue:  </h2>
                      <div class="" >
                        <p>
                            J Michael Lunsford Middle School<br />
                            26020 Ticonderoga Rd, <br /> Chantilly, VA 20152,
                            <br /><br /> 
                        Timings(Subject to change based on inclement weather forcast): <br /> 
                            January 24th -  11 AM to 10 PM. <br>
                        </p>
                      </div>
      
                </div>
                <div class="col-md-6 flex ftco-animate" >
                    <h2 class="mb-4 ">Timeline (Tentative):  </h2>
                        <div class="" >
                            <p>
                                Pujo: 10 AM -12:30 PM (Pushpanjali: 1 PM - 1.30 PM)
                                <br />Arati: 12:30 PM - 1 PM
                                <br />Pushpanjali: 1 PM - 1:30 PM
                                <br />Hate Khori: 1:45 PM - 2:15 PM
                                <br />Dodhikarma: 3:15 Pm - 3:45 PM
                                <br />Art Competition: 11 AM - 12 PM
                                <br />Lunch: 12:30 PM- 3 PM 
                                <br />Carrom: 3 PM - 6:30 PM
                                <br />Local Cultural Performance: 3 PM - 6 PM 
                                <br />Bisorjon: 3:30 PM- 4 PM
                                <br />Dinner: 6:00 PM - 8 PM
                                <br />External Cultural Performance: 8 PM onwards
                                <br />
                            </p> 
                      </div>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
      <div class="container">
          <div class="row col-md-12 flex-center text-center">

              <div class="flex-center text-center mt-3 ">
                <h3 class="text-center">Uniting our community through music and culture at Saraswati Puja 2026</h3>
              </div>
              <div class="col-md-8  " style="margin: 0 auto;" >
                <h6>
                  <!-- <p class="col-md-12 flex-center">
                      Local cultural performances and external performance with band details coming soon.
                  </p> -->
                  <p class="col-md-14 flex-center">
                    Afternoon 3-6pm inside the auditorium: Celebrating culture through the voices, moves, and smiles of our community kids. 
                  </p>
                    <img class="col-md-4 text-center"  src="./../../../../assets/images/gallery/sp2026/LocalCultural-1.jpg" >
                    <img class="col-md-4 text-center"  src="./../../../../assets/images/gallery/sp2026/LocalCultural-2.jpg" >
                    <img class="col-md-4 text-center"  src="./../../../../assets/images/gallery/sp2026/LocalCultural-3.jpg" >
                    <br/>
                    <br/>
                    <br/>
                  <p class="col-md-14 flex-center">
                    Evening 8-10pm: Featuring Music Mantra Live Band. Enjoy a vibrant mix of Bengali & Hindi songs from timeless movies and popular albums—spanning multiple genres, moods, and generations.
                  </p>
                  <!-- <p>
                    As the evening unfolds, prepare to be mesmerized by the electrifying performance of Band Agantuk, adding an extra spark of excitement to our festivities. Agantuk focuses on a variety range of music starting from Bengali to Hindi classical and bollywood songs.
                  </p> -->
                </h6>
                <img class="col-md-8 text-center"  src="./../../../../assets/images/gallery/sp2026/ExternalPerformance.jpg" >
              </div>
          </div>
      </div>
    </section>      
    
    <app-sponsers></app-sponsers>
</div>
