<section class="ftco-section sponsers">
    <div class="container">
      <div class="row justify-content-center pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
          <h2 class="mb-4">Proud Sponsors & Benefactors</h2>
          <!-- <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p> -->
        </div>
      </div>
      <div class="row flex-row flex-wrap">
        <div class="col-md-2 " *ngFor="let sponser of sponsers " >

            <div class=" card d-flex shadow mb-2 justify-content-center ftco-animate " style="align-items: center; min-height: 200px; height: 200px; display: flex; flex-direction: column;"  >
                  <div class="client-logo  text-center justify-content-center p-0 " style="height: 196px; display: flex; align-items: center; justify-content: center; margin: 0; flex: 1; padding-top: 20px;">
                    <a href="{{sponser.url}}" target="_blank" style="display: flex; align-items: center; justify-content: center; width: 100%; height: 100%;">
                      <img src="{{sponser.image}}" class="img-fluid" alt="{{sponser.name}}" style="max-height: 172px !important; max-width: 100% !important; width: 100% !important; height: auto !important; object-fit: contain !important; padding: 2px !important;"> 
                    </a>
                  </div>
            </div> 
        </div>
      </div>
    </div>
  </section>
