<div class="wrapper" >
    
    <div class="hero-wrap" style="background-image: url('./../../../../assets/images/gallery/cares/cares-v1.jpg'); filter: grayscale(100%) opacity(70%) " data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }" style="filter: grayscale(100%) opacity(200%)" >
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2" style="text-transform: lowercase;"><a href="/">Home</a></span>/ &nbsp;<span style="text-transform: lowercase;" >cares</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><style></style>Cares</h1>
            </div>
        </div>
        </div>
    </div>

    <app-threecol></app-threecol>

    <section class="ftco-section bg-light">
        <div class="container">
        <div class="row">
            <img src="./../../../assets/images/cares/cares-5k-br-2024.png" alt="cares-5k-br-2024"  /> 
            <img src="./../../../assets/images/cares/cares-book-donation-2024.png" alt="cares-book-donation-2024"  /> 
            <img src="./../../../assets/images/cares/cares-5k-feedForfairfax-2024.png" alt="cares-5k-feedForfairfax-2024"  /> 
            <img src="./../../../assets/images/cares/cares-sbim-2024.png" alt="cares-sbim-2024"  /> 
            <img src="./../../../assets/images/cares/cares-ffb-2023.png" alt="cares-ffb-2023"  /> 
            <img src="./../../../assets/images/cares/cares-thanksgiving-2023.png" alt="Cares-Thanksgiving-2023"  /> 
            <img src="./../../../assets/images/cares/care-8.png" alt="cares image 9"  /> 
            <img src="./../../../assets/images/cares/care-7.png" alt="cares image 8"  /> 
            <img src="./../../../assets/images/cares/care-6.png" alt="cares image 7"  /> 
            <img src="./../../../assets/images/cares/care-5.png" alt="cares image 6"  /> 
            <img src="./../../../assets/images/cares/care-4.png" alt="cares image 5"  /> 
            <img src="./../../../assets/images/cares/care-3-1.png" alt="cares image 4"  /> 
            <img src="./../../../assets/images/cares/care-3.png" alt="cares image 3"  /> 
            <img src="./../../../assets/images/cares/care-2.png" alt="cares image 2"  /> 
            <img src="./../../../assets/images/cares/care-1.png" alt="cares image 1"  /> 
        </div>
        </div>
    </section>
</div>
<app-sponsers></app-sponsers>