<div class="wrapper" >
    
    <div class="hero-wrap" style="background-image: url('./../../../../assets/images/stocks/saraswati-kumar.jpg'); filter: grayscale(100%) opacity(50%) " data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }" style="filter: grayscale(100%) opacity(200%)" >
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span>/ &nbsp;<span style="text-transform: lowercase;" >Saraswati Puja</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Our Saraswati Puja</h1>
            </div>
        </div>
        </div>   
    </div>

    <!-- <section>
      <div class="col-md-8  " style="margin: 10px auto;">
                  <div class="container">
                    <tr><app-eventtickets></app-eventtickets></tr>
                </div>
      </div>
    </section> -->

    <section>
        <div class="container mb-3">
          <div class="row d-flex mb-3"> 
            <div class="flex-center text-center mt-3 ">
              <h3 class="text-center">NVBA Saraswati Puja 2025 - Lots of activities planned</h3>
            </div>
            <div>
              <p class=" text-center ">
                We will start our early bird online tickets purchase from 10th, January, stay tuned. <br />
              </p>
              <!-- <app-eventtickets></app-eventtickets> -->
                <!-- <div class="flex-center mb-1">
                  <button class="btn-get-started w-100 mb-3 mt-2" routerLink="/tickets" >Tickets for Saraswati Puja</button>             
                </div>  -->
            </div>
            <!-- <div>
              <div class="flex-center mb-1">
                <button class="btn-get-started red w-100 mb-3 mt-2" style="background-image: url(./../../../assets/images/stocks/2023/SP-Artist-2023-b.jpg);" routerLink="/concert"   >Tickets only for Sham-e-Ghazal</button>             
              </div> 
            </div>
            <div>
              <div class="flex-center mb-3">
                <button class="btn-get-started btn-get-blue w-100 mb-3 mt-2"  routerLink="/concert" >Tickets for Guests</button>             
              </div> 
            </div> -->
            <div class="flex-center text-center mt-3 table ">
              <h5><div>Sign up sheets for activities,</div></h5>
              <div class="row flex-center text-center m-1 "  >
                <table class=" borderless col-md-6" style=" margin:0 auto" id="activities"  >
                  <tr>
                    <td>
                      <h6>Haate Khori </h6>
                    </td>
                    <td>
                      <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLScMecP0JlBKkPPa0W70iwJd_NTIZICfjrDrbA_DTYM5FyU5eg/viewform" target="_blank" > Click for register </a>  -->
                      <h6>
                        Google form will be available soon to update children details.
                        Parents interested in arranging Hate Khori for their children, kindly complete the form.
                      </h6>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h6>Cultural Program Participation:</h6>
                    </td>
                    <td>
                      <h6>
                      Key Points:
                      <b><br />- Children aged 5-18 are encouraged to participate.</b>
                      <b><br />- Group entries are preferred to maximize participation opportunities.</b>
                      <b><br />- Each participant can engage in only one program.</b>
                      <br /><a href="https://novaba.us5.list-manage.com/track/click?u=71b8b228056801a92f04f6000&id=9da0d63b81&e=f553f7c134" target="_blank" > Click for register </a>
                      <b><br />As a friendly reminder, families of participating children must be registered NVBA members. If you are a new member or have not renewed your membership since last year, kindly visit <a href="//www.novaba.org/sign-in">our website to complete the necessary steps</a>. Activated memberships are valid for one year.</b>
                      <br /><b>The deadline for cultural participation entries is January 17th, 2025, Midnight.</b>
                      <b><br />For any inquiries or additional information, please contact Satarupa Das at cultural@novaba.org. Details about kids' competitions will be disclosed shortly.</b>
                      <br />Local Cultural Program will be held during afternoon in the same school auditorium after the lunch. 
                      <b>Please go to the auditorium after lunch around 2:50 PM!!</b>
                    </h6>
                    </td>
                  </tr>
                  <!-- <tr>
                    <td>
                        Quiz Competition:
                    </td>
                    <td>
                        <a href="https://docs.google.com/forms/d/e/1FAIpQLSeey7Gnh4wJDC0FFnCnzT8DQWZh9mcwm8nTE2Q-XOjT3U0fog/viewform" target="_blank" > Click for register </a>
                        <br />Quiz Competition will be held during noon/afternoon time in the same school area. Keep an ear out for announcement in the Pujo Hall!!
                        <br />Age Limit: 10yrs and above
                        <br />Timing: After Lunch
                    </td>
                  </tr> -->
                  <tr>
                    <td>
                      <h6>Art Competition:</h6>
                    </td>
                    <td>
                      <h6>
                        Google form will be availale soon for registration
                       <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSdnAOZ3_mxy9GUxeq0FTHLQwNY5VjYr7jKFIDyfolGBi6q-Hw/viewform" target="_blank" > Click for register </a>  -->
                       <p>The art competition is set for noon in the school cafeteia. Listen for announcements in the Pujo Hall! Participants must be between 5 and 18 years old (Elementary/Middle/High School Students).</p>
                      </h6>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <h6>Carrom Competetion:</h6>
                    </td>
                    <td>
                      <h6>
                       <!-- <a href="https://docs.google.com/forms/d/e/1FAIpQLSeclSph3l6-OFuq3MHD7lWO3Y7scRNhJBxIcd0I4dBhVX1sog/viewform" target="_blank">Click for register</a>   -->
                        <p>
                            Google form will be availale soon for registration<br />
                          <!-- Registration for this event has been closed.<br /> -->
                          The Carrom Competition is scheduled for the afternoon (After lunch) in the school cafeteria. Stay tuned for announcements in the Pujo Hall! 
                        </p>
                      </h6>
                    </td>
                  </tr>
                </table>
              </div>
              
            </div>
            
            <div class="col-md-8  " style="margin: 0 auto 10px auto; border-bottom: 1px solid #ccc;" >
              <img class="col-md-12 text-center"  src="./../../../../assets/images/stocks/2024/events.jpg" >
            </div>
            <div class="col-md-8  " style="margin: 10px auto;">
              <h3 class="mb-4 orange ">Sponsorship options are available for Art/Alpona, Carrom competition, Raffle </h3>
                      <div class="" >
                        <table class=" borderless col-md-6 " style=" margin:0 auto" id="activities"  >
                          <tr>
                            <td class="">
                             <h5>Carrom Competition: $150</h5> 
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <h5>Art/Alpona Competition: $150</h5>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <h5>Raffle: $150</h5>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <h5>Cultural sponshorship: Please reach out to <a href="mailto:president@novaba.org">president@novaba.org</a>
                                 or call us at (571) 355-0899</h5>
                            </td>
                          </tr>
                          <tr>
                            <td>
                             <h6>Vendor Stalls: Please reach out to <a href="mailto:public_relations@novaba.org">public_relations@novaba.org</a>  for more information.</h6>
                            </td>
                          </tr>
                        </table>
                      </div>
            </div>
          </div>
        </div>
      </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 flex ftco-animate align-items-center ">
                    <h2 class="mb-4 ">Venue:  </h2>
                      <div class="" >
                        <p>
                            Mercer Middle School<br />
                            42149 Greenstone Dr, <br /> Aldie, VA 20105,
                            <br /><br /> 
                        Timings(Subject to change based on inclement weather forcast): <br /> 
                            February 1st -  11 AM to 10 PM. <br>
                        </p>
                      </div>
      
                </div>
                <div class="col-md-6 flex ftco-animate" >
                    <h2 class="mb-4 ">Timeline (Tentative):  </h2>
                      <div class="" >
                        <p>
                            Pujo: 10 AM -1 PM (Pushpanjali: 12.30 PM)
                            <br />Art Competition: 12 PM - 1 PM
                            <br />Lunch: 1 PM- 3 PM 
                            <br />Carrom: 3pm - 5.30 PM
                            <br />Local Cultural Performance: 3 PM - 6 PM 
                            <br />Bisorjon: 6 PM- 6.30 PM
                            <br />Dinner: 6:30 PM - 8 PM
                            <br />External Cultural Performance: 8 PM onwards
                            <br />
                        </p> 
                      </div>
                </div>
        
            </div>

        </div>
    </section>

    <section class="ftco-section">
      <div class="container">
          <div class="row col-md-12 flex-center text-center">

              <div class="flex-center text-center mt-3 ">
                <h3 class="text-center">NVBA Rangamancha</h3>
              </div>
              <div class="col-md-8  " style="margin: 0 auto;" >
                <h6>
                <p class="col-md-12 flex-center">
                    Local cultural performances and external performance with band details coming soon.
                </p>
              </h6>
                <!-- <p class="col-md-12 flex-center">
                  This year, we have curated a lively Saraswati Puja celebration brimming with devotional rituals, cultural performances, and engaging activities suitable for all ages. You can look forward to captivating performances by our talented local artists, showcasing a diverse range of songs, dances, recitations, and instrumental pieces. 
                </p>
                <p>
                  Enhancing the cultural tapestry of our event, we're excited to introduce a captivating dance drama "Kaljoyi Rabindranath" by Ta Thoi. Inspired by three of Tagore's acclaimed works (Chandalika, Chitrangada, and Tasher Desh), each resonating with significant social themes, this performance promises to be a highlight of our local cultural segment.
                </p>
                <p>
                  As the evening unfolds, prepare to be mesmerized by the electrifying performance of Band Imon from New York, adding an extra spark of excitement to our festivities. Imon focuses on a varied range of music starting from Indian classical, to Bollywood, to Western Pop, and Rock songs, occasionally fusing different musical forms to bring the best of both worlds.
                </p>
                <img class="col-md-12 text-center"  src="./../../../../assets/images/stocks/2024/artist.jpg" > -->
              </div>
          </div>
      </div>
    </section>      
    
    <section class="ftco-section bg-light ">
      <div class="container mb-5">
          <div class="row col-md-12 flex-center text-center">

              <div class="flex-center text-center mt-3 ">
                <h3 class="text-center">NVBA Bhuri Bhoj</h3>
              </div>
              <!-- <p>Food List Comming Soon</p> -->
              <h6><p>Keeping up with our tradition of providing the best authentic food, We are also planning to have a scrumptious menu for Lunch and Dinner as well</p></h6>
              <div class="col-md-8  " style="margin: 0 auto;" >
                <img class="col-md-12 text-center"  src="./../../../../assets/images/stocks/2024/food-sp.jpg" >
              </div>
          </div>
      </div>
    </section> 
    <app-sponsers></app-sponsers>

    <!-- <section class="ftco-section ">
        <div class="container">
            <div class="row">
                <div class="col-md-12 flex ftco-animate">
                    <app-cartmember></app-cartmember>
                </div>    
            </div>
        </div>
    </section>             -->
</div>
