<div class="wrapper" >
    
    <div class="hero-wrap" style="background-image: url('./../../../../assets/images/stocks/saraswati-kumar.jpg'); filter: grayscale(100%) opacity(50%) " data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center" data-scrollax-parent="true">
            <div class="col-md-7 ftco-animate text-center" data-scrollax=" properties: { translateY: '70%' }" style="filter: grayscale(100%) opacity(200%)" >
            <p class="breadcrumbs" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="/">Home</a></span>/ &nbsp;<span style="text-transform: lowercase;" >Saraswati Puja</span></p>
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Our Saraswati Puja</h1>
            </div>
        </div>
        </div>   
    </div>

    <section class="ftco-section bg-light ">
      <div class="container mb-5">
          <div class="row col-md-12 flex-center text-center">

              <div class="flex-center text-center mt-3 ">
                <h3 class="text-center">NVBA Bhuri Bhoj</h3>
              </div>
              <h6><p>Keeping up with our tradition of providing the best authentic food, We are also planning to have a scrumptious menu for Lunch and Dinner as well</p></h6>
              <div class="col-md-8  " style="margin: 0 auto;" >
                <img class="col-md-12 text-center"  src="./../../../../assets/images/gallery/sp2025/NVBA-SP2025-Food-Menu.jpg" >
              </div>
            </div>
          </div>
    </section> 

    <section>
        <div class="container mb-3">
          <div class="row d-flex mb-3"> 
            <div class="flex-center text-center mt-3 ">
              <h3 class="mb-4 orange">Online ticket sell is now closed, we have limited ticket sell in the registration desk!</h3><br/>
              <!-- <app-eventtickets></app-eventtickets> -->
                <h3 class="text-center">NVBA Saraswati Puja 2025 - Lots of activities planned</h3><br/>
            </div>
            <div class="flex-center text-center mt-3 table ">
              <h5><div>Sign up sheets for activities,</div></h5>
              <div class="row flex-center text-center m-1 "  >
                <table class=" borderless col-md-6" style=" margin:0 auto" id="activities"  >
                  <tr>
                    <td>
                      <h6>Haate Khori </h6>
                    </td>
                    <td>
                      <h6>
                        Fill the form <a href="https://forms.gle/1hNieiPcfjDqLfdq6">for registration</a>
                        <p>Parents interested in arranging Hate Khori for their children, kindly complete the form.</p>
                      </h6>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h6>Cultural Program Participation:</h6>
                    </td>
                    <td>
                      <h6>New submission window is closed now.</h6>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h6>Art Competition:</h6>
                    </td>
                    <td>
                      <h6>
                        Fill the form <a href="https://forms.gle/VZoU6XKEfKoGQvRq6">for registration</a>
                       <p>The art competition is set for noon in the school cafeteia. Listen for announcements in the Pujo Hall! Participants must be between 5 and 18 years old (Elementary/Middle/High School Students).</p>
                      </h6>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <h6>Alpona Competition:</h6>
                    </td>
                    <td>
                      <h6>
                        Fill the form <a href="https://forms.gle/WjoguLQXGfbF2tqM6">for registration</a>
                       <p>The alpona competition is set for noon in the school cafeteia. Listen for announcements in the Pujo Hall! Participants must be 16 years and old.</p>
                      </h6>
                    </td>
                  </tr>
                  <tr>
                    <td>
                        <h6>Carrom Competetion:</h6>
                    </td>
                    <td>
                      <h6>
                        Fill the form <a href="https://forms.gle/C8hsjcHCcgJ8iXx48">for registration</a>
                        <p>
                          <!-- Registration for this event has been closed.<br /> -->
                          The Carrom Competition is scheduled for the afternoon (After lunch) in the school cafeteria. The registration is limited to 16 due to time. Stay tuned for announcements in the Pujo Hall! 
                        </p>
                      </h6>
                    </td>
                  </tr>
                </table>
              </div>
              
            </div>
            
            <div class="col-md-8  " style="margin: 0 auto 10px auto; border-bottom: 1px solid #ccc;" >
              <img class="col-md-12 text-center"  src="./../../../../assets/images/stocks/2024/events.jpg" >
            </div>
            <div class="col-md-8  " style="margin: 10px auto;">
              <h3 class="mb-4 orange">Sponsorship options are available for Art/Alpona, Carrom competition, Raffle </h3>
                      <div class="" >
                        <table class=" borderless col-md-6 " style=" margin:0 auto" id="activities"  >
                          <tr>
                            <td class="">
                             <h5>Carrom Competition: $150</h5> 
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <h5>Art/Alpona Competition: $150</h5>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <h5>Raffle: $150</h5>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <h5>Cultural sponshorship: Please reach out to <a href="mailto:president@novaba.org">president@novaba.org</a>
                                 or call us at (571) 355-0899</h5>
                            </td>
                          </tr>
                          <tr>
                            <td>
                             <h6>Vendor Stalls: Please reach out to <a href="mailto:public_relations@novaba.org">public_relations@novaba.org</a>  for more information.</h6>
                            </td>
                          </tr>
                        </table>
                      </div>
            </div>
          </div>
        </div>
      </section>

    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-6 flex ftco-animate align-items-center ">
                    <h2 class="mb-4 ">Venue:  </h2>
                      <div class="" >
                        <p>
                            Mercer Middle School<br />
                            42149 Greenstone Dr, <br /> Aldie, VA 20105,
                            <br /><br /> 
                        Timings(Subject to change based on inclement weather forcast): <br /> 
                            February 1st -  11 AM to 10 PM. <br>
                        </p>
                      </div>
      
                </div>
                <div class="col-md-6 flex ftco-animate" >
                    <h2 class="mb-4 ">Timeline (Tentative):  </h2>
                      <div class="" >
                        <p>
                            Pujo: 10 AM -1 PM (Pushpanjali: 12.30 PM)
                            <br />Art Competition: 12 PM - 1 PM
                            <br />Lunch: 1 PM- 3 PM 
                            <br />Carrom: 3pm - 5.30 PM
                            <br />Local Cultural Performance: 3 PM - 6 PM 
                            <br />Bisorjon: 6 PM- 6.30 PM
                            <br />Dinner: 6:30 PM - 8 PM
                            <br />External Cultural Performance: 8 PM onwards
                            <br />
                        </p> 
                      </div>
                </div>
        
            </div>

        </div>
    </section>

    <section class="ftco-section">
      <div class="container">
          <div class="row col-md-12 flex-center text-center">

              <div class="flex-center text-center mt-3 ">
                <h3 class="text-center">NVBA Rangamancha</h3>
              </div>
              <div class="col-md-8  " style="margin: 0 auto;" >
                <h6>
                  <!-- <p class="col-md-12 flex-center">
                      Local cultural performances and external performance with band details coming soon.
                  </p> -->
                  <p class="col-md-12 flex-center">
                    This year, we have curated a lively Saraswati Puja celebration brimming with devotional rituals, cultural performances, and engaging activities suitable for all ages. You can look forward to captivating performances by our talented local artists, showcasing a diverse range of songs, dances, recitations, and instrumental pieces. 
                  </p>
                  <!--<p>
                    Enhancing the cultural tapestry of our event, we're excited to introduce a captivating dance drama "Kaljoyi Rabindranath" by Ta Thoi. Inspired by three of Tagore's acclaimed works (Chandalika, Chitrangada, and Tasher Desh), each resonating with significant social themes, this performance promises to be a highlight of our local cultural segment.
                  </p> -->
                  <p>
                    As the evening unfolds, prepare to be mesmerized by the electrifying performance of Band Agantuk, adding an extra spark of excitement to our festivities. Agantuk focuses on a variety range of music starting from Bengali to Hindi classical and bollywood songs.
                  </p>
                </h6>
                <img class="col-md-12 text-center"  src="./../../../../assets/images/gallery/sp2025/NVBA SP 2025 External Band Promo.png" >
              </div>
          </div>
      </div>
    </section>      
    
    <app-sponsers></app-sponsers>
</div>
