
<div class="wrapper"  >
        <div style="width: 100vw; height: 60vh; " >
          <div style="width: 100%; height: 100%; "  class="cb-slideshow-overlay" >
              <ul class="cb-slideshow-2024">
                  <li><span></span><div><h3></h3></div></li>
                  <li><span></span><div><h3></h3></div></li>
                  <li><span></span><div><h3></h3></div></li>
                  <li><span></span><div><h3></h3></div></li>
                  <li><span></span><div><h3></h3></div></li>
                  <li><span></span><div><h3></h3></div></li>
              </ul>
          </div>
        </div> 
<div class="row d-flex mb-3"> 
    <div class="flex-center text-center mt-3 ">
      <h3 class="text-center">NVBA Durgotsob 2025 - Sponsoring opportunities</h3>
    </div>
    <div class="flex-center text-center mt-3 table ">
      <div class="row flex-center text-center m-1 "  >
        <table class=" borderless col-md-6 " style=" margin:0 auto" id="activities"  >
          <tr>
            <th>
              Opportunity:
            </th>
            <th>
              Price
            </th>
            <th>
              Benefits
            </th>
          </tr>
          <tr>
            <td>
              Sponsor for Artist:
            </td>
            <td>
              Contact President @ 571 355 0899
            </td>
            <td>
            Social media marketing | Meet & Greet with Artist | Television commercials | Broadcast ads | On Stage production coverage| Bhog thali| Magazine full page advertisment|Free tickets for Family| Tickets pre delivered
            </td>
          </tr>
          <tr>
            <td>
              Sponsor for Artist Hospitality
            </td>
            <td>
              Contact President @ 571 355 0899
            </td>
            <td>
            Social media marketing | Meet & Greet with Artist | Television commercials | Novaba.org coverage| Broadcast ads | On Stage production coverage | Free tickets for Family | Bhog thali| Magazine full page advertisment
            </td>
          </tr>
          <tr>
            <td>
              Platinum Sponsor:
            </td>
            <td>
              $10000+
            </td>
            <td>
            Social media marketing | Television commercials | First Row seating for cultural show | Website(Novaba.org) coverage| Broadcast ads via email | On Stage production coverage | Banner on the event | Free tickets for Family | Bhog thali | Magazine full page greetings
            </td>
          </tr>
          <tr>
            <td>
              Gold Sponsor:
            </td>
            <td>
              $5000
            </td>
            <td>
            Social media marketing | Television commercials | First Row seating for cultural show | Website(Novaba.org) coverage| Broadcast ads via email | On Stage production coverage | Free tickets for Family | Bhog thali | Magazine full page greetings
            </td>
          </tr>
          <tr>
            <td>
              Silver Sponsor:
            </td>
            <td>
              $3000
            </td>
            <td>
            Social media marketing | Television commercials | First Row seating for cultural show | Website(Novaba.org) coverage| Broadcast ads via email | On Stage production coverage | Free tickets for Family | Bhog thali | Magazine full page greetings
            </td>
          </tr>
          <tr>
            <td>
              Benefactors:
            </td>
            <td>
              $2100
            </td>
            <td>
            Social media marketing | Television commercials | Website(Novaba.org) coverage| Broadcast ads via email | On Stage production coverage | Free tickets for Family | Bhog thali | Magazine full page greetings
            </td>
          </tr>
          <tr>
            <td>
              Digital Marketing:
            </td>
            <td>
              $1600
            </td>
            <td>
              Social media marketing | Television commercials | Broadcast ads via email | Website(Novaba.org) coverage
             </td>
          </tr>
          <tr>
            <td>
              Donor:
            </td>
            <td>
              $1100
            </td>
            <td>
              Free tickets for Family | Television commercials | Magazine Half page greetings
             </td>
          </tr>
          <tr>
            <td>
              Sponsor for 1 day puja:
            </td>
            <td>
              $501
            </td>
            <td>
              Bhog Thali
             </td>
          </tr>
          <tr>
            <td>
              Vendor table for 1 days(Saturday or Sunday):
            </td>
            <td>
              $200
            </td>
            <td>
              Meal & Cultural tickets(2)
            </td>
          </tr>
          <tr>
            <td>
              Vendor table for 2 days(Saturday and Sunday):
            </td>
            <td>
              $400
            </td>
            <td>
              Meal & Cultural tickets(2)
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
  <div class="row d-flex mb-3"> 
    <div class="flex-center text-center mt-3 ">
      <h3 class="text-center">NVBA Durgotsob 2025 - Magazine advertisment</h3>
    </div>
    <div class="flex-center text-center mt-3 table ">
      <div class="row flex-center text-center m-1 "  >
        <table class=" borderless col-md-6 " style=" margin:0 auto" id="activities"  >
          <tr>
            <th>
              Opportunity:
            </th>
            <th>
              Price
            </th>
            <td>
              
            </td>
          </tr>
          
          <tr>
            <td>
              Business Ads in Magazine (Ameya):
            </td>
            <td>
              $501
            </td>
            <td>
              2 full pages
            </td>
          </tr>
          <tr><td>Business Ads in Magazine (Ameya):</td>
            <td>$350</td>
            <td>1 full page</td>
          </tr>
          <tr><td>Business Ads in Magazine (Ameya):</td>
          <td>$250</td>
          <td>Half page</td>
          </tr>
          <tr><td>Personal Greetings in Magazine (Ameya):</td>
            <td>$300</td>
            <td>full page</td>
            </tr>
          <tr><td>Personal Greetings in Magazine (Ameya):</td>
            <td>$200</td>
            <td>half page</td>
            </tr>
          <tr><td>Personal Greetings in Magazine (Ameya):</td>
              <td>$100</td>
              <td>1/3 page</td>
              </tr>
        </table>
      </div>
    </div>
    <section class="ftco-section">
    <div class="flex-center text-center mt-3 ">
        <h3 class="highlight-header">Please donate via Zelle at treasurer@novaba.org</h3>
        <h3 class="highlight-header-secondary">Ameyaa is our community magazine published yearly and circulated to all members joining the NVBA Durga Puja event.
            In case of any queries please reach out to public_relations@novaba.org or call us at Ph# 571-355-0899.</h3>
      </div>
    </section>
</div>