<section class="donate-banner" style="background-image: url('./../../../../assets/images/stocks/2026/Background For Donate.png');">
  <div class="donate-banner__overlay"></div>
  <div class="donate-banner__content">
    <p class="donate-banner__tagline">Support Our Community</p>
    <a href="https://www.paypal.com/us/fundraiser/charity/2511674" target="_blank" class="donate-banner__btn">
      Donate Now
    </a>
    <p class="donate-banner__subtitle">You can make a big difference</p>
  </div>
</section>
