<section class="ftco-counter ftco-intro" id="section-counter" style="background-image: url('./../../../../assets/images/stocks/2026/Background For Donate.png'); background-size: cover; background-position: center; background-repeat: no-repeat; min-height: 90px !important; margin: 0 !important; padding: 20px 0 !important;">
  <div class="container">
    <div class="row no-gutters justify-content-center">
      <div class="col-md-5 d-flex justify-content-center counter-wrap ftco-animate">
        <!-- <div class="block-18 color-1 align-items-stretch">
          <div class="text">
              <h3>Served Over</h3>
            <strong class="number" data-number="1432805">1,432,805</strong>
            <span>Children in the world</span>
          </div> -->
        <!-- <div class="block-18 color-2 align-items-stretch">
          <div class="text">
              <h3 class="mb-2">Donate Money</h3>
              <p>You can make a big difference.</p>
              <p><a href="https://www.paypal.com/us/fundraiser/charity/2511674" class="btn btn-white px-3 py-2 mt-2" target="_blank">Donate Now</a></p>
          </div> -->
        <div class="block-18 color-2 align-items-stretch" style="min-height: 80px !important; margin: 0 !important; padding: 10px !important;">
          <div class="text" style="margin: 0 !important; padding: 5px !important;">
              <h3 class="mb-1" style="margin: 0 !important; padding: 0 !important;">Be a Volunteer</h3>
              <p style="margin: 0 !important; padding: 0 !important;">You can make a big difference</p>
              <p style="margin: 5px 0 0 0 !important; padding: 0 !important;"><a href="https://www.paypal.com/us/fundraiser/charity/2511674" target="_blank" class="btn btn-white px-2 py-1" style="margin: 0 !important; padding: 5px 10px !important;">Donate Now</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
