<footer class="site-footer">
  <div class="site-footer__top">
    <div class="site-footer__container">
      <div class="site-footer__grid">

        <!-- About Us -->
        <div class="site-footer__col">
          <h3 class="site-footer__heading">About Us</h3>
          <div class="site-footer__divider"></div>
          <p class="site-footer__text">NVBA is a 100% volunteer driven 501(c)3 organization. The success of our community depends on the sincere effort by our volunteers. Please participate with full enthusiasm and you will find a place to belong.</p>
          <ul class="site-footer__socials">
            <li>
              <a href="https://www.facebook.com/novaba" target="_blank" class="site-footer__social-link" aria-label="Facebook">
                <img src="./../../../assets/images/icons/facebook-icon.png" alt="Facebook">
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/novaba_org/" target="_blank" class="site-footer__social-link" aria-label="Instagram">
                <img src="./../../../assets/images/icons/instagram-icon.png" alt="Instagram">
              </a>
            </li>
            <li>
              <a href="https://www.youtube.com/channel/UCbvbSyIiBYbP_vuB3qzD0Tw" target="_blank" class="site-footer__social-link" aria-label="YouTube">
                <img src="./../../../assets/images/icons/youtube-icon.png" alt="YouTube">
              </a>
            </li>
          </ul>
        </div>

        <!-- Newsletter -->
        <div class="site-footer__col">
          <h3 class="site-footer__heading">Our Newsletter</h3>
          <div class="site-footer__divider"></div>
          <p class="site-footer__text">The best way to keep in touch with your local Bengali community is through the NVBA newsletter. Provide your email for subscription.</p>
          <a href="https://novaba.us5.list-manage.com/subscribe?u=71b8b228056801a92f04f6000&id=172a06829e" target="_blank" class="site-footer__btn">
            Subscribe Now
          </a>
        </div>

        <!-- Site Links -->
        <div class="site-footer__col">
          <h3 class="site-footer__heading">Site Links</h3>
          <div class="site-footer__divider"></div>
          <ul class="site-footer__links">
            <li *ngFor="let link of siteLinks">
              <a href="{{link.pageLink}}">{{link.pageName}}</a>
            </li>
          </ul>
        </div>

        <!-- Contact -->
        <div class="site-footer__col">
          <h3 class="site-footer__heading">Have Questions?</h3>
          <div class="site-footer__divider"></div>
          <ul class="site-footer__contact">
            <li>
              <img src="./../../../assets/images/icons/map-icon.png" alt="Address">
              <span>22809 Queensbridge Dr, Ashburn, VA 20148, United States</span>
            </li>
            <li>
              <a href="tel:+16077687705">
                <img src="./../../../assets/images/icons/phone-icon.png" alt="Phone">
                <span>+1 (607) 768-7705</span>
              </a>
            </li>
            <li>
              <a href="mailto:ec@novaba.org">
                <img src="./../../../assets/images/icons/email-icon.png" alt="Email">
                <span>ec@novaba.org</span>
              </a>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>

  <div class="site-footer__bottom">
    <div class="site-footer__container">
      <p class="site-footer__copy">
        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved by NVBA
      </p>
    </div>
  </div>
</footer>
