<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center pb-1">
      <div class="col-md-7 heading-section ftco-animate text-center">
        <h2 class="mb-2">Upcoming Events</h2>
      </div>
    </div>
    <div class="row">
        <div class="col-md-4 d-flex ftco-animate" *ngFor="let event of commingevents" >
          <div class="blog-entry align-self-stretch w-100 " *ngIf="event.eventType=='current'" >
              <a routerLink="blog-single.html" class="block-20" style="background-image: url({{event.eventImage}});">
              </a>
              <div class="text p-4 d-block">
                <div class="meta mb-3">
                <div><a href="{{event.pageLink}}">{{event.eventDate}}</a></div>
              </div>
              <h3 class="heading mb-4"><a href="{{event.pageLink}}">{{event.eventName}}</a></h3>
              <p class="time-loc"><span class="mr-2"><img src="./../../../../assets/images/icons/clock-icon.png" style="width: 16px; height: 16px; margin-right: 5px;" alt="clock"> {{event.timming}}</span></p>
              <p><a href="{{event.mapUrl}}" target="_blank" ><span><img src="./../../../../assets/images/icons/map-icon.png" style="width: 16px; height: 16px; margin-right: 5px;" alt="map"> {{event.venue}}</span></a></p>
              <p>{{event.description}}</p>
              <p *ngIf="event.pageLink != '/' " ><a href="{{event.pageLink}}" target="_blank">Click here for more details</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
 </section>
  <section class="ftco-section bg-light">
    <div class="container">
      <div class="row justify-content-center pb-3">
        <div class="col-md-7 heading-section ftco-animate text-center">
          <h2 class="mb-4">Past Events</h2>
        </div>
      </div>
      <div class="row">
          <div class="col-md-4 d-flex ftco-animate" *ngFor="let pevent of pastevents" >
            <div class="blog-entry align-self-stretch w-100 " *ngIf="pevent.eventType=='past'" >
              <a routerLink="blog-single.html" class="block-20" style="background-image: url({{pevent.eventImage}});">
              </a>
              <div class="text p-4 d-block">
                <div class="meta mb-3">
                <div><a href="{{pevent.pageLink}}">{{pevent.eventDate}}</a></div>
              </div>
              <h3 class="heading mb-4"><a href="{{pevent.pageLink}}">{{pevent.eventName}}</a></h3>
              <p class="time-loc"><span class="mr-2"><img src="./../../../../assets/images/icons/clock-icon.png" style="width: 16px; height: 16px; margin-right: 5px;" alt="clock"> {{pevent.timming}}</span></p>
              <p><a href="{{pevent.mapUrl}}" target="_blank" ><span><img src="./../../../../assets/images/icons/map-icon.png" style="width: 16px; height: 16px; margin-right: 5px;" alt="map"> {{pevent.venue}}</span></a></p>
              <p>{{pevent.description}}</p>
              <p *ngIf="pevent.pageLink != '/' " ><a href="{{pevent.pageLink}}" target="_blank">Click here for more details</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
